* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#center_container {
    width: 60%;
    height: 100%;
    margin: auto;
    background-image: url("images/background.jpg");
    background-size: cover;
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

#top_container {
    display: flex;
    justify-content: right;
}

#menu {
    width: 65px;
    height: 56px;
    margin: 20px;
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 10px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#menu.open {
    width: 150px;
    height: 200px;
}

#menu div {
    width: 65px;
    height: 56px;
    position: relative;
    float: right;
    border-radius: 10px;
    cursor: pointer;
}

#menu span {
    width: 45px;
    height: 6px;
    position: absolute;
    right: 10px;
    background-color: rgba(170, 170, 170);
    border-radius: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#menu span:nth-child(1) {
    top: 10px;
}

#menu span:nth-child(2) {
    top: 25px;
}

#menu span:nth-child(3) {
    top: 40px;
}

#menu.open span:nth-child(1) {
    top: 25px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menu.open span:nth-child(2) {
    opacity: 0;
}

#menu.open span:nth-child(3) {
    top: 25px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
 
#menu ul {
    visibility: hidden;
    opacity: 0;
    display: inline;
    list-style-type: none;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
} 

#menu.open ul{
    visibility: visible;
    opacity: 1;
}

#menu li {
    text-align: center;
    margin-top: 80px;
}

#menu li:nth-child(2) {
    margin-top: 40px;
}

#menu li a {
    font-family: Comfortaa;
    text-decoration: none;
    color: white;
}

#middle_container {
    margin-top: 150px;
    width: 100%;
    height: 300px;
    position: sticky;
    top: 50%;
    transform: translate(0,-50%);
}

#middle_container h1 {
    width: 100%;
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Comfortaa;
    color: white;
    text-align: center;
}

#middle_container h1 span {
    color: tomato;
}

#status_container {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(161, 161, 161, 0.7);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}

#tap_image {
    width: 150px;
    height: 150px;
    position: fixed;
    background-image: url("images/tap.png");
    background-size: cover;
    background-position-y: -5px;
    background-position-x: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#status_shutdown_button {
    width: 150px;
    height: 35px;
    position: absolute;
    top: 87%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%,-50%);
    background-color: rgba(155, 0, 0, 0.7);
    border: 2px solid rgba(255, 100, 100, 0.7);
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#status_shutdown_button:hover {
    background-color: rgba(255, 131, 131, 0.7);
}


#status_shutdown_button.open {
    visibility: visible;
    opacity: 1;
}

#status_shutdown_button h1 {
    margin-top: 14px;
    position: relative;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    color: white;
}

#status_container.open {
    border: 2px solid lightgreen;
    width: 450px;
}

#status_container.open #tap_image {
    visibility: hidden;
}

#status_container ul {
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    height: 150px;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#status_container ul li {
    text-align: center;
    text-decoration: none;
}

#status_container ul li p {
    margin: 10px;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 20px;
    color: rgb(70, 70, 70);
    cursor: default;
}

#status_container.open ul {
    visibility: visible;
    opacity: 1;
}

#tap_ui li:nth-child(1) span {
    color: red;
}

#tap_ui li:nth-child(2) span {
    color: gray;
}

#tap_ui li:nth-child(3) span {
    color: gray;
}

#tap_ui li:nth-child(4) span {
    color: gray;
}