@media only screen and (min-width: 0px) and (max-width: 700px) { 
    #center_container {
        width: 80%;
        height: 110%;
    }

    #status_container {
        display: inline-block;
        position: relative;
        margin-top: -30%;
    }

    #status_container h1 {
        font-size: 10px;
    }

    #tap_image_container {
        width: 125px;
        min-height: 125px;
  
    }

    #tap_image{
        width: 125px;
        height: 125px;
    }

    #tap_image_container.open {
        width: 300px;
    }

    #status_button h1 {
        font-size: 15px;
    }
}
