@media only screen and (min-width: 0px) and (max-width: 800px) { 
    #mid {
        width: 80%;
    }

    #login_box {
        width: 250px;
        height: 250px;
      }
    
      #login_box div h1 {
        font-size: 25px;
        margin-top: 30px;
      }
    
     #login_box input {
        width: 175px;
        height: 30px;
     }
    
     #login_box :nth-child(3) {
        margin: 25px auto;
    }
    
     #login_box :nth-child(4) {
         width: 75px;
     }
}
